@CHARSET "UTF-8";

header {
	width: 1200px; /* header width 같게하기 */
	margin: 0 auto;
}

/* ----- menu ----- */
.container-fluid{
	/* background-image: url("../img/header.jpg");
	background-size: cover; */
	color: white;
	height: 200px;
}

.navbar {
	width: 1200px; /* header width 같게하기 */
	margin-bottom: 0;
	background-color: #f4511e;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: white !important;
}

.log {
	width: 500px;
	margin-top: 8px;
	margin-right: 10px;
	float: right;
	text-align: right;
}

.modal-title, .table{
	text-align: left;
}

.modal {
	top: 20%;
}
/* ---------------- */

/* ----- menu element ----- */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4511e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.switch1 {
	background-color: black;
	color: white !important;
}

.switch2 {
	background-color: white;
	color: black !important;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f4511e;
	color: white;
}
/* ---------------- */

/* ------ menu 이동 ------- */
.affix {
	top: 0;
	width: 1200px; /* header width 같게하기 */
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.affix+.container-fluid {
	padding-top: 70px;
}

.affix-top {
	position: static;
	top: -35px;
}

.affix + .container-fluid {
	padding-top: 70px;
}
/* ---------------- */